PORT=3000

# MongoDB Credentials
MONGODB_USER=
MONGODB_PASSWORD=
MONGODB_URL=
MONGODB_DB=
JWT_SECRET=

# Brevo (Email)
SMTP_HOST=
SMTP_PORT=
SMTP_USER=
SMTP_PASSWORD=
SMTP_FROM=

# App domain for password reset link
APP_DOMAIN=

# Cloudinary (Images)
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
CLOUDINARY_CLOUD_NAME=